.container {
  width: 100vw;

  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 220px;
  position: relative;
  z-index: +5556;
}
.inputarea {
  width: 280px;
  height: 180px;
  border: 2px solid grey;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.inputarea:hover {
  opacity: 0.8;
}
.filearea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 2px dotted grey;
}
.fileinput {
  display: none;
}
.inputbtn,
.convert {
  background-color: rgb(30, 78, 8);
  width: 60%;
  height: 40px;
  border-radius: 21px;
  border: none;
  font-size: 1.01em;
  cursor: pointer;
}
.title {
  margin-left: 10px;
  font-size: 0.7em;
  margin: 0;
}

.video {
  width: 250px;
  height: 150px;
}
.select {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.select p {
  margin-left: 10px;
}
#codec {
  text-transform: uppercase;
  background-color: rgb(42, 94, 42);
  border: none;
  color: rgb(255, 255, 255);
  width: 150px;
  height: 30px;
  border-radius: 15px;
}
#codec:focus {
  outline: none;
}
#codec option {
  color: rgb(255, 249, 249);
}
#codec option:hover {
  background-color: white;
}
.convert {
  margin-top: 15px;
  margin-left: 25px;
}
