.navbar {
  width: 100vw;
  height: 70px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
  position: relative;
  font-size: 1.5em;

  z-index: +55;
}
.logo {
  width: 50px;
  height: 50px;
}

.waves {
  width: 100vw;
  position: absolute;
  top: -50px;
  z-index: +2;
}
